extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- my name
        h1 Tom Winter

        //- title 
        p Full Stack JavaScript Developer


        .about-bio

          //- My elevator pitch
          p I’m a web developer who’s making the Internet a more beautiful and positive place! My background in automotive technolgy helps me understand what small business owners I work with need. And, thanks to working in automotive trade, I’m great at coming up with solutions, no matter what you throw at me. 


      .skills-contact-box.box
        h6 Skills

        //- My skills below 
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- my own contact info - I used a fake phone number
        ul
          li 555-123-1234
          li wintert98@gmail.com

        //- URLs to the hrefs below to link to my social media accounts - Twitter link is Twiiter home page
        a.btn-link(href='https://www.linkedin.com/in/thomas-winter-097287161/' target="-blank") LinkedIn
        a.btn-link(href='https://github.com/wintert98' target="-blank") GitHub
        a.btn-link(href='https://twitter.com/' target="-blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back