extends layout.pug

block content

  article.portfolio-intro

    //- heading 
    h1 My Portfolio Site

    //- description for my portfolio
    p A Collection Of Recent Projects I Worked On 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      
        each project, i in projects
          .cell
            a(href='project/' + i)
             img.thumbnail(src=project.image_urls[0] alt='screenshot of ' + project.project_name )
             h5 #{project.project_name}
  



 

