extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Portfolio Site

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Portfolio description


  article.portfolio-project-thumbs
    .projects-box.box.grid
      
        each project, i in projects
          .cell
            a(href='project/' + i)
             img.thumbnail(src=project.image_urls[0] alt='screenshot of ' + project.project_name )
             h5 #{project.project_name}
  



 

